div.restaurant-form {
    width: 65%;
    background-color: #353535;
    padding: 20px 0;
    margin: auto;
    filter: drop-shadow(0 0 1rem #0000006e);
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.restaurant-container{
    margin: 10% auto 20% auto;
}

.restaurant-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.restaurant-form input {
    padding: 20px 0;
    margin: 20px 10%;
    margin-top: 0px;
    /* width: 70%; */
}

@media only screen  and (min-width: 724px) {
    div.restaurant-form {
        width: 375px;
}}
