.category-button {
    background-color: #353535;

    color: white;

    filter: drop-shadow(0 0 1rem #0000006e);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;

    transition: 0.25s;
}

.category-button:hover {
    background-color: #dc3636;
    filter: drop-shadow(0 0 0.5rem #dc3636);
    /* filter: drop-shadow(0px 0px 20px 0px rgba(220, 54, 54, 0.9)); */

    transition: 0.5s;
}
