h1 {
    color: white;
}

.hide-me {
    display: none;
}

.PlaceCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.place-card {
    background-color: #353535;
    padding: 20px; 
    border-radius: 20px;
    margin: 5% 10%;
    filter: drop-shadow(0 0 0.5rem #0000006e);
}

.flexible {
    flex-grow: 1;
}

.place-card__wrap--outer {
    margin: 10% auto;
    color: white;
}

.place-card__wrap--inner {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%; */
}

.cuisine-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cuisine-list li {
    font-weight: 600;
}

.place-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 15px 0;
}

.pl .place-card .cuisine-list {
    padding-left: 0px;
}

.cuisine-list {
    padding-left: 0px;
}

.place-card button {
    background-color: #dc3636;
    color: white;
    filter: drop-shadow(0 0 0.2rem #0000006e);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin: 0 2%;
    transition: 0.25s;
}

.place-card button:hover {
    background-color: #dc3636;
    filter: drop-shadow(0 0 0.5rem #fff);
    /* filter: drop-shadow(0px 0px 20px 0px rgba(220, 54, 54, 0.9)); */

    transition: 0.5s;
}

.place-card button.update-button:hover {
    background-color: #dc3636;
    filter: drop-shadow(0 0 0.5rem #fff);
    /* filter: drop-shadow(0px 0px 20px 0px rgba(220, 54, 54, 0.9)); */

    transition: 0.5s;
}

.place-card-input-field {
    text-align: center;
    background-color: #232323;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
}

.location {
    font-weight: 100;
    font-size: .8em;
}
.restaurant-name {
    font-size: 2em;
    font-weight: 800;
}

@media only screen  and (min-width: 724px) {
    .place-card {
        background-color: #353535;
        padding: 20px; 
        border-radius: 20px;
        margin: 10px;
        transition: 0.5s;
        filter: drop-shadow(0 0 0rem #0000006e);
        width: 250px;
    }
    .place-card:hover {
        filter: drop-shadow(0 0 0.5rem #0000006e);
        transition: 0.5s;
    }
    .place-card__wrap--inner {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    } 
}