div.zipcode-form {
    width: 35%;
    height: 45%;
    background-color: #353535;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* padding: 20px 20px; */

    margin: auto;

    filter: drop-shadow(0 0 1rem #0000006e);
    border-radius: 17px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.zipcode-form form {
    display: flex;
    flex-direction: column;
}

.zipcode-form input {
    padding: 20px 20px;
    margin: 40px 20px;
    margin-top: 0px;
}
