.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar a {
    margin: auto 10px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

ul{
    padding-inline-start: 0;
}

.navbar a:hover {
    filter: drop-shadow(0 0 0.5rem #ffffff);
    transition: 0.5s;
}

input:focus {
    outline: none;
}

.input-field {
    background-color: #232323;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 0 10%;
    /* font-size: 150%; */
}

.submit-button {
    border: none;
    border-radius: 5px;
    background-color: #dc3636;
    filter: drop-shadow(0 0 0.5rem #dc3636);
    color: white;
    font-size: 1.2em;
    padding: 10px 0px;
    margin: 0 10%;
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 150%;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

h3 {
    color: white;
    font-size: 1em;
    padding: 0 10%;
}
